.switch__container {
  margin: 1px;
  width: auto;
  height: 25px;
  position: relative;
}

.switch {
  visibility: hidden;
  position: relative;
  margin-left: -9999px;
}
.switch__container p{
  font-weight: bold;
  position: absolute;
  left: 80px;
  width:100px;
  height: auto;
  top: 2px;

}

.switch + label {
  display: block;
  position: absolute;
  cursor: pointer;
  outline: none;
  user-select: none;
  left: 1%;
  top: 2px;
}

.switch--shadow + label {
  padding: 2px;
  width: 60px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 10px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(40px);
}

/* Estilo Flat */
.switch--flat + label {
  padding: 2px;
  width: 60px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--flat + label:before,
.switch--flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch--flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 15px;
  background-color: #dddddd;
  border-radius: 20px;
  transition: margin 0.4s, background 0.4s;
}
.switch--flat:checked + label {
  background-color: #8ce196;
}
.switch--flat:checked + label:after {
  margin-left: 36px;
  background-color: #8ce196;
}
.foto img{
        max-height:300px;
      }
      input[type='file'] {
        display: none
      }

      .input-wrapper label.upload {
        background-color: #3498db;
        border-radius: 5px;
        color: #fff;
        margin: 10px;
        padding: 6px 20px
      }

      .input-wrapper label.upload:hover {
        background-color: #2980b9
      }
/* ------------------------------------
     COMMON STYLE
   ------------------------------------ */
#autocomplete-textarea {
  min-height: 80px;
  color: #000;
}

#autocomplete-textarea a {
  text-decoration: none;
  font-weight: normal;
  color: #181818;
}

.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover {
  cursor: pointer;
  font-weight: normal;
  color: #000;
  position: relative;
  padding: 3px 10px;
}

.dropdown-menu .textcomplete-item.active a {
  background: #F0F0F0;
}

/* Highlighting of the matching part 
   of each search result */
.dropdown-menu .textcomplete-item a em {
  font-style: normal;
  font-weight: bold;
}

.dropdown-menu .textcomplete-footer {
  border-top: solid 1px #F0F0F0;
  margin-top: 3px;
}


/* ------------------------------------
     Used in 
     autocomplete-with-pictures.html
   ------------------------------------ */
.dropdown-menu .textcomplete-item a {
  box-sizing: border-box;
  height: 42px;
}

.dropdown-menu .textcomplete-item .picture {
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  width: 32px;
  height: 32px;
  overflow: hidden;
  float: left;
}

  .dropdown-menu .textcomplete-item .picture img {
    width: 32px;
  }

.dropdown-menu .textcomplete-item .name {
  float: left;
  margin: 5px 0 0 5px;
}


/* ------------------------------------
     Used in 
     rich-html-textarea.html
   ------------------------------------ */
.tag-item, .tag-item:visited {
  font-weight: normal;
  padding: 2px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f0f0f0;
  cursor: default;
  border: solid 1px #dadada;
}

  .tag-item:hover {
    text-decoration: none;
  }

  .tag-item .picture-wrapper {
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    top: 3px;
  }

    .tag-item .picture-wrapper img {
      width: 16px;
    }

  .tag-item .label {
    color: #181818;
  }

